:root {
  --first-color: #4bbd96;
  --second-color: #d1674a;
  --third-color: #be553f;
  --fourth-color: #f0ebe6;
  --fifth-color: #ffffff;
  --sixth-color: #616161;
  --shadow: 6px 6px 9px #00000031, -6px -6px 9px #a3a0a013;
  --shadow-inset: inset 6px 6px 9px #00000031, inset -6px -6px 9px #a3a0a025;
}

.app-view {
  border: 3px solid var(--fourth-color);
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  height: 150px;
}

.company-info {
  margin-top: 20px;
  float: left;
  width: 50%;
}

.company-stock-symbol {
  font-size: 25px;
}

.company-name {
  margin-left: 10px;
  font-size: 0.5rem;
  word-break: break-all;
}

.stock-info {
  margin-right: 50px;
  margin-top: 20px;
  float: right;
  /* width: 30%; */
}

.order-items {
  color: var(--second-color);
}

.red {
  background: var(--third-color);
  border-radius: 10px;
  padding: 0.5em;
}

.green {
  background: var(--first-color);
  border-radius: 10px;
  padding: 0.5em;
}
